.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .profile-form-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Added position relative for absolute positioning */
  }
  
  .static-pic {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .label-container {
    position: relative;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #3498db; /* Label color */
    font-size: 16px; /* Adjust label font size */
  }
  
  .input-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #3498db; /* Icon color */
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  